.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rda
.Rdata
*.Rdata
*.tsv
*.qza
*.biom
*.pdf
*.png
*.afdesign
*.nc
*.xyz
*.gz
*.csv
*.feature_table.txt
*.fasta
*.pdf
*.sm
*mixing_proportions*
*.pre
*.uc
*.summary.txt
*.nwk
*.graphml
*meow_ecos.*
